/* CSS Document */
*{
	margin:0;
	
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.main{
    width: auto;
    height: 15%;
    background-color:#2f4858;
}
.caatmenu{
    display: none;
}
.account{
    display: none;
}
.mainbar{
    position: absolute;
    right: 0;
    width: 150px;
    display: none;
}
#welcome{
    background-image: url("../img/sagaya-abdulhafeez-AStCNS1DdrA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 92vh;
}
.mainbar ul li{
    list-style:none;
    margin-left:  0;
    height: 25px;
    background-color: aliceblue;
    width: 100%;
    padding-left: 0;
}
.mainbar ul li a{
    text-decoration: none;
    color: #00cfa4;
    border-bottom: solid thin;
    width: 150px;
    font-size: 17px;
}
.mainbar ul li a:hover{
    text-decoration: none;
    color: red;
    border-bottom: solid thin;
    
}
.iconburg{
    position:absolute;
    display: block;
    top: 0;
    right:0;
    width:40px;
    height: 40px
}
.logo{
    width: 154px;
}
.logo a{
    font-size: 2em;
    text-decoration: none;
    font-weight: bold;
    color: #00cfa4;
}
#forevery{
    padding-top: 20vh;
    text-align: center;
    font-size: 330%;
    color: #00cfa4;
}
#hidesmall{
    display: none;
}
#welcome p{
    display: none;
}
#show{
    position: absolute;
    margin-top:9vh;
    margin-left: 25%;
    background-color: deeppink;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    min-width: 120px;
    padding: 3% 5%  5%;
    color: blanchedalmond;
    border-radius: 60px;
    
}
#explanation{
    height: 50vh;
}
#try1{
     position: absolute;
    margin-top:9vh;
    margin-left: 2%;
    background-color: deeppink;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    min-width: 120px;
    padding: 3% 5%  5%;
    color: blanchedalmond;
    border-radius: 60px;
}
.right{
    display: none;
}
#exp{
    margin-left: 5%;
    color: #0a183d;
    font-size:2em;
    margin-top: 0;
    font-weight: 600;
}
#howit{
    display: none;
}
#pricing{
}
/*----------------------------------
    
    pricing         

-----------------------------------*/
#pricing {
    height: 100vh;
    overflow: auto;
    
}
.text-center {
    text-align: center;
    font-weight: 600;
    color: #0a183d;
}
.pick{
    height: 15vh;

    text-align: center;
    white-space: pre-wrap;

}
.pricing-box-container {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow: auto;
    margin-top: 5vh;
}
.pricing-box {
    margin-top: 2vh;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    flex: 1;
    padding: 0 30px 30px;
    margin: 2%;
    min-width: 250px;
    max-width: 350px;
    font-size: 18px;
    font-weight: 700;
}
.pricing-box h5 {
    padding-top: 8%;
    text-transform: uppercase;
    font-size: 20px;
}
.price {
    margin: 24px 0;
    font-size: 36px;
    font-weight: 900;
}
.price sub, .price sup {
    font-size: 16px;
    font-weight: 100;
}
.features-list {
    padding: 0;
    list-style-type: none;
    border-bottom-color: black;
}
.features-list li {
    font-weight: 100;
    padding: 12px 0;
}
.features-list li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-primary {
    border-radius: 25px;
    border: none;
    background-color: #fc0254;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 15px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
}
.btn-primary:hover {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}
.pricing-box-bg-image {
    background-image: url("../img/sagaya-abdulhafeez-AStCNS1DdrA-unsplash.jpg");
    background-size: cover;
    background-position: center center;
}
.pricing-box-bg-image .features-list li {
    border-bottom-color: rgba(255, 255, 255, 1);
}
.pricing-box-bg-image .btn-primary {
    background-color: #ffffff;
    color: #000;
}
/*****
*/
.copyright{
    margin-top: 1vh;
    height: 15vh;
    text-align:  center;
    background: gray;
    color: blanchedalmond;
    
}
.copyright a{
    text-decoration: none;
    color: blanchedalmond;
}